.project-box {
    width: 75%;
}

.nav-item {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.aboutmebox {
    width: 75%;
    margin: 0 auto;
}

.image-box {
    justify-content: center;
    align-items: center;
    display: flex;
}

.project-image {
    display: block;
    max-width: 100%;
}

.project-desc {
    float:left;
    padding: 20px;
    width: 50%;
}

.project-heading {
    color:white;
    text-align: center;
}

.project-text {
    color: white;
}

.link-box {
    text-align: center;
}

footer {
    background-color: rgb(193,137,169);
    margin:0 auto;
    padding: 20px;
}

.footer-text {
    text-align:center;
    font-style: italic;
    color: white;
}

.headshot {
    float:left;
}

.aboutme {
    float: left;
    padding: 20px;
    width: 45%;
}

.email-form {
    width: 50%;
    margin: 0 auto;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color:rgb(187, 191, 202);
}

.lead {
    font-style: italic;
    margin: 50px;
    color: white;
}

.display-4 {
    margin: 100px;
    color: white;
    font-style: italic;
    font-weight: 900;
}

.navbar {
    position:fixed;
    width:100%;
    background-color: rgb(193,137,169);
    z-index: 1;
}

.jumbotron-text {
    background-color: rgb(193,137,169);
    margin: 20px;
}

.jumbotron {
    background-image: url('images/jumbotronimage.jpg');
    background-position: 50% 0%;
    background-size: cover;
}

.jumbotron-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.headshot {
    width:33%;
    float:left;
}

.paragraph-abme {
    width: 66%;
    float:left;
}

@media screen and (max-width: 990px) {


    .project-image {
        width: 100%;
        float: left;
        object-fit: cover;
        padding: 20px;
        margin: 0 auto;
    }

    .project-desc {
        width: 100%;
        float: left;
        padding: 20px;
        margin: 0 auto;
    }

    .headshot {
        width: 100%;
        float: left;
        object-fit: cover;
        padding: 20px;
        margin: 0 auto;
    }

    .aboutme {
        width: 100%;
        float: left;
        padding: 20px;
        margin: 0 auto;
    }
}