.project-box {
    width: 75%;
}

.aboutmebox {
    width: 75%;
    margin: 0 auto;
}

.project-image {
    float: left;
    padding: 20px;
    width: 33%;
    object-fit: cover;
}

.project-desc {
    float:left;
    padding: 20px;
    width: 50%;
}

footer {
    background-color: #808080;
    margin:0 auto;
    padding: 20px;

}

.footer-text {
    text-align:center;
    font-style: italic;
}

.headshot {
    float:left;
}

.aboutme {
    float: left;
    padding: 20px;
    width: 45%;
}

.email-form {
    width: 50%;
    margin: 0 auto;
}


@media screen and (max-width: 1500px) {

    body {
        background-color: #f8f8f8;
    }

    .project-image {
        width: 100%;
        float: left;
        object-fit: cover;
        padding: 20px;
    }

    .project-desc {
        width: 100%;
        float: left;
        padding: 20px;
    }

    .headshot {
        width: 100%;
        float: left;
        object-fit: cover;
        padding: 20px;
    }

    .aboutme {
        width: 100%;
        float: left;
        padding: 20px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}

.lead {
    font-style: italic;
}

.navbar {
    position:fixed;
    width:100%;
}

.jumbotron {
    background-image: url(https://lh3.googleusercontent.com/proxy/JB9xj74QQUt8-p_BDSEvOU0Bzyd7MEMiuJwaMogBzb3pkg1P_Il4J_rXErn_rqJwQ8xscavTCV-4eKrsJFq3-mD4ssApOnsni50uQk4DX5og7XIJIdgJgQv4Aydk2uNb0vo);
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position:center;
}

.headshot {
    width:33%;
    float:left;
}

.paragraph-abme {
    width: 66%;
    float:left;
}