body {
    font-family: 'Heebo', sans-serif;
    background-color:rgb(187, 191, 202);
}

.lead {
    font-style: italic;
    margin: 50px;
    color: white;
}

.display-4 {
    margin: 100px;
    color: white;
    font-style: italic;
    font-weight: 900;
}

.navbar {
    position:fixed;
    width:100%;
    background-color: rgb(193,137,169);
    z-index: 1;
}

.nav-name {
    font-size: 35px;
}

.nav-item {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.jumbotron-text {
    background-color: rgb(193,137,169);
    margin: 20px;
}

.jumbotron {
    background-image: url('images/jumbotronimage.jpg');
    background-position: 50% 0%;
    background-size: cover;
}

.jumbotron-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.project-box {
    width: 75%;
}

.aboutmebox {
    width: 75%;
    margin: 0 auto;
}

.image-box {
    justify-content: center;
    align-items: center;
    display: flex;
}

.project-image {
    display: block;
    max-width: 100%;
    border: rgb(193, 137, 169) 3px solid;
    padding: 0%;
}

.project-desc {
    float:left;
    padding: 20px;
    width: 50%;
}

.project-heading {
    color:white;
    text-align: center;
    font-style: italic;
}

.project-text {
    color: white;
}

.link-box {
    text-align: center;
}

.project-link {
    color:  rgb(193,137,169);
    font-style: italic;
}

.project-link:hover {
    color:  white;
}

footer {
    background-color: rgb(193,137,169);
    margin:0 auto;
    padding: 20px;
}

.footer-text {
    text-align:center;
    font-style: italic;
    color: white;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: rgb(234,150,164);
}

.headshot {
    background-image: url('https://www.sapanalytics.cloud/wp-content/uploads/2018/03/500x500.jpg');
    height: 500px;
    width: 500px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.headshot-image {
    display: flex;
    object-fit: cover;
}

.aboutme {
    float: left;
    padding: 20px;
    padding-top: 120px;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 150px;
}

.email-form {
    width: 50%;
    margin: 0 auto;
}

.about-text {
    color: white;
}

@media screen and (max-width: 1760px) {

    .aboutme {
        width: 100%;
        float: left;
        padding: 20px;
        margin: 0 auto;
    }

    .headshot {
        width: 50%;
        float: left;
        object-fit: cover;
        padding: 20px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 990px) {

    .project-image {
        width: 100%;
        float: left;
        object-fit: cover;
        margin: 0 auto;
    }

    .project-desc {
        width: 100%;
        float: left;
        padding: 20px;
        margin: 0 auto;
    }

    .headshot {
        width: 50%;
        float: left;
        object-fit: cover;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .aboutme {
        width: 100%;
        float: left;
        padding: 20px;
        margin: 0 auto;
    }
}